# Ignore the data directoy
data/

# Ignore python virtual environment files
venv/

# Ignore the images in the static direcotry
static/images

# Ignore __pycache__ folder
simple_color_search/__pycache__/


# Ignore __pycache__ folder
bovw_sift/__pycache__/

# Ignore util directory which contans utility scripts
util

# Ignore the procfile
Procfile

# Ignore emacs temp files
*~*