.result-image {
    max-width: 100px !important;
    max-height: 100px !important;
}

.active {
    border-color: red !important;
    border-width: 3px !important;
    border-style: solid !important;
}