{% extends "_base.html" %}

{% block content %}


<div class="container">
  <div class="row"> 
    <div class="col-md-8 offset-md-2">
      <h2>Select an Image</h2>
      <br>
      <div class="row">
	<img src="" class="img-fluid" id="query-image-show" >
      </div>
      <div class="row mb-4">
	<label for="queryImage" class="form-label">Please upload an image for query</label>
	<input class="form-control form-control" name="queryImage" id="queryImage" type="file" accept="image/png, image/jpeg">
      </div>
	    <!-- div class="row mb-4">
		<label class="form-label fs-4" for="algorithm-select">Select search algorithm</label>
		<select id="algorithm-select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
		    <option selected value="simple">Simple</option>
		    <option value="bovw">BoW and SIFT</option>
		    <option value="cnn">CNN</option>
		</select>
	    </div -->
	<div class="row mb-4">
	  <div class="col-md-6">
	  <button class="btn btn-danger" id="clearResultsBtn">Clear Results</button>
	</div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Results</h2>
    <h4 id="searching">Searching...</h4>
    <h4 id="error">Oh no, the images couldn't be loaded. Check if you have a stable internet connection.</h4>
    <div class="row" id="results-table">
	<div class="col-md-4">
	    <br>
	    <table class="table">
		<thead>
		    <tr>
			<th>Color</th>
		    </tr>
		</thead>
		<tbody id="results-basic">
		</tbody>
	    </table>
	</div>
	<div class="col-md-4">
	    <br>
	    <table class="table">
		<thead>
		    <tr>
			<th>BovW</th>
		    </tr>
		</thead>
		<tbody id="results-bovw">
		</tbody>
	    </table>
	</div>
	<div class="col-md-4">
	    <br>
	    <table class="table">
		<thead>
		    <tr>
			<th>CNN</th>
		    </tr>
		</thead>
		<tbody id="results-cnn">
		</tbody>
	    </table>
	</div>
    </div>
  </div>
</div>
<br>

{% endblock %}
