{% extends "_base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-7">
        <h2>Select an Image</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p><img src="{{ url_for('static', filename='images/103100.jpg') }}" style="height: 250px;" class="img">
                </p>
                <p><img src="{{ url_for('static', filename='images/103300.jpg') }}" style="height: 250px;" class="img">
                </p>
            </div>
            <div class="col-md-6">
                <p><img src="{{ url_for('static', filename='images/127502.jpg') }}" style="height: 250px;" class="img">
                </p>
                <p><img src="{{ url_for('static', filename='images/123600.jpg') }}" style="height: 250px;" class="img">
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <h2>Results</h2>
        <br>
        <table class="table" id="results-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="results">
            </tbody>
        </table>
    </div>
</div>
<br>

{% endblock %}